@{
    ViewData["Title"] = "About";
}

<h2>Movie App</h2>
<p>The only movies website with latest local and international blockbusters.</p>
<p>We are built on trust, security, convenience, and integrity. With these values we hope to serve you well.</p>